@use "zmienne.scss" as *;
@import "./animacje.scss";

:root,
body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

* {
	font-family: "Lato", sans-serif;
}
body {
	background-color: #f3f9ff;
}
form {
	button {
		border: none;
		border-radius: 5px;
		padding: 10px;
		cursor: pointer;
		font-size: inherit;
		transition: ease all 0.2s;
		background-color: $niebieski;
		color: white;
		border: 1px solid transparent;
		&:hover {
			border-color: $niebieski;
			background-color: rgba($color: $niebieski, $alpha: 0.8);
		}
	}
}
label {
	font-size: 1rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: flex-start;
	align-items: center;
	input:not([type="file"]),
	textarea {
		font-size: inherit;
		border: none;
		border-radius: 10px;
		padding: 10px;
		background-color: rgba($color: $niebieski, $alpha: 0.08);
		flex-grow: 1;
	}

	textarea {
		width: 100%;
		max-width: 100%;
	}
}
